{
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "bracketSpacing": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
